<div class="projects">
    <div class="container">
        <h1 class="projects__title">Реализованные проекты</h1>
        <div class="projects__list">

            <div class="projects__list-el-container">
                <div data-fancybox data-src="#project1" class="projects__list-el">
                    @@include('../../els/img.html', { "src": "proj1", "ext": "jpg", "cx":"projects__list-el-img" })
                    <div class="projects__list-el-title">
                        Открытие Мечети в Москве
                    </div>
                    <div class="projects__list-el-count">
                        <img alt src="./img/people-icon.svg">
                        <span>10 000 человек</span>
                    </div>
                </div>
            </div>

            <div class="projects__list-el-container">
                <div data-fancybox data-src="#project2" class="projects__list-el">
                    @@include('../../els/img.html', { "src": "proj2", "ext": "jpg", "cx":"projects__list-el-img" })
                    <div class="projects__list-el-title">
                        Ассамблея компании "Биоси"
                    </div>
                    <div class="projects__list-el-count">
                        <img alt src="./img/people-icon.svg">
                        <span>500 человек</span>
                    </div>
                </div>
            </div>

            <div class="projects__list-el-container">
                <div data-fancybox data-src="#project3" class="projects__list-el">
                    @@include('../../els/img.html', { "src": "proj3", "ext": "jpg", "cx":"projects__list-el-img" })
                    <div class="projects__list-el-title">
                        Имиджевое мероприятие компании “Спецсвязь”
                    </div>
                    <div class="projects__list-el-count">
                        <img alt src="./img/people-icon.svg">
                        <span>2 000 человек</span>
                    </div>
                </div>
            </div>

            <div class="projects__list-el-container">
                <div data-fancybox data-src="#project4" class="projects__list-el">
                    @@include('../../els/img.html', { "src": "proj4", "ext": "jpg", "cx":"projects__list-el-img" })
                    <div class="projects__list-el-title">
                        Бизнес-завтрак компании “Freetopay”
                    </div>
                    <div class="projects__list-el-count">
                        <img alt src="./img/people-icon.svg">
                        <span>100 человек</span>
                    </div>
                </div>
            </div>

            <div class="projects__list-el-container">
                <div data-fancybox data-src="#project5" class="projects__list-el">
                    @@include('../../els/img.html', { "src": "proj5", "ext": "jpg", "cx":"projects__list-el-img" })
                    <div class="projects__list-el-title">
                        Корпоративный выезд компании “Нейропроджект” в Грузию
                    </div>
                    <div class="projects__list-el-count">
                        <img alt src="./img/people-icon.svg">
                        <span>30 человек</span>
                    </div>
                </div>
            </div>

            <div class="projects__list-el-container">
                <div data-fancybox data-src="#project6" class="projects__list-el">
                    @@include('../../els/img.html', { "src": "proj6", "ext": "jpg", "cx":"projects__list-el-img" })
                    <div class="projects__list-el-title">
                        30-летие Медресе
                    </div>
                    <div class="projects__list-el-count">
                        <img alt src="./img/people-icon.svg">
                        <span>700 человек</span>
                    </div>
                </div>
            </div>

            <div class="projects__list-el-container">
                <div data-fancybox data-src="#project7" class="projects__list-el">
                    @@include('../../els/img.html', { "src": "proj7", "ext": "jpg", "cx":"projects__list-el-img" })
                    <div class="projects__list-el-title">
                        Партнерское мероприятие компании “Спецсвязь”
                    </div>
                    <div class="projects__list-el-count">
                        <img alt src="./img/people-icon.svg">
                        <span>350 человек</span>
                    </div>
                </div>
            </div>

            <div class="projects__list-el-container">
                <div data-fancybox data-src="#project8" class="projects__list-el">
                    @@include('../../els/img.html', { "src": "proj1", "ext": "jpg", "cx":"projects__list-el-img" })
                    <div class="projects__list-el-title">
                        Конгресс компании “Биоси”
                    </div>
                    <div class="projects__list-el-count">
                        <img alt src="./img/people-icon.svg">
                        <span>500 человек</span>
                    </div>
                </div>
            </div>

            <div class="projects__list-el-container">
                <div data-fancybox data-src="#project9" class="projects__list-el">
                    @@include('../../els/img.html', { "src": "proj9", "ext": "jpg", "cx":"projects__list-el-img" })
                    <div class="projects__list-el-title">
                        Имиджевое мероприятие школы “Аметист”
                    </div>
                    <div class="projects__list-el-count">
                        <img alt src="./img/people-icon.svg">
                        <span>300 человек</span>
                    </div>
                </div>
            </div>

            <div class="projects__list-el-container">
                <div data-fancybox data-src="#project10" class="projects__list-el">
                    @@include('../../els/img.html', { "src": "proj9", "ext": "jpg", "cx":"projects__list-el-img" })
                    <div class="projects__list-el-title">
                        Деловое мероприятие А-клуба
                    </div>
                    <div class="projects__list-el-count">
                        <img alt src="./img/people-icon.svg">
                        <span>200 человек</span>
                    </div>
                </div>
            </div>
        </div>
        <button id="show-all-projects" class="btn">Загрузить еще</button>
    </div>
</div>