<div class="review">
    <div class="container">
        <div class="animatedParent">
            <h1 class="review__title animated fadeInDownShort">Отзывы</h1>
        </div>
        <div class="review__video-list">
            <div class="review__video-list-el">
                <a class="review__video-list-el-video" data-fancybox href="https://youtu.be/wDHmrVvJQiI">
                    @@include('../../els/img.html', { "src": "video1", "ext": "jpg",
                    "cx":"review__video-list-el-video-prev" })
                    <img class="play-icon" src="./img/play.svg" alt>
                </a>

                <div class="review__video-list-el-desc">
                    Компания «Нейропроджект»
                </div>
            </div>
            <div class="review__video-list-el">
                <a class="review__video-list-el-video" data-fancybox href="https://youtu.be/LkZov5VDQWY">
                    @@include('../../els/img.html', { "src": "video2", "ext": "jpg",
                    "cx":"review__video-list-el-video-prev" })
                    <img class="play-icon" src="./img/play.svg" alt>
                </a>
                <div class="review__video-list-el-desc">
                    Компания «Спецсвязь»
                </div>
            </div>
            <div class="review__video-list-el">
                <a class="review__video-list-el-video" data-fancybox href="https://youtu.be/5Zif5pVYgAk">
                    @@include('../../els/img.html', { "src": "video3", "ext": "jpg",
                    "cx":"review__video-list-el-video-prev" })
                    <img class="play-icon" src="./img/play.svg" alt>
                </a>
                <div class="review__video-list-el-desc">
                    Компания ...
                </div>
            </div>
            <div class="review__video-list-el">
                <a class="review__video-list-el-video" data-fancybox href="https://youtu.be/KfMDsOILBcg">
                    @@include('../../els/img.html', { "src": "video4", "ext": "jpg",
                    "cx":"review__video-list-el-video-prev" })
                    <img class="play-icon" src="./img/play.svg" alt>
                </a>
                <div class="review__video-list-el-desc">
                    Компания ...
                </div>
            </div>
        </div>
        <div class="animatedParent">
            <h2 id="show-all-reviews" class="review__title2 animated fadeInUpShort">Все отзывы</h2>
        </div>
        <img class="review__dotted" src="./img/dotted.svg" alt>
        <div class="review__thank-list">
            <a class="fancy-img" href="./img/thank1-big.jpg">
                @@include('../../els/img.html', { "src": "thank1", "ext": "jpg", "cx":"review__thank" })
            </a>
            <a class="fancy-img" href="./img/thank2-big.jpg">
                @@include('../../els/img.html', { "src": "thank2", "ext": "jpg", "cx":"review__thank" })
            </a>
            <a class="fancy-img" href="./img/thank3-big.jpg">
                @@include('../../els/img.html', { "src": "thank3", "ext": "jpg", "cx":"review__thank" })
            </a>
            <a class="fancy-img" href="./img/thank4-big.jpg">
                @@include('../../els/img.html', { "src": "thank4", "ext": "jpg", "cx":"review__thank" })
            </a>
            <a class="fancy-img" href="./img/thank5-big.jpg">
                @@include('../../els/img.html', { "src": "thank5", "ext": "jpg", "cx":"review__thank" })
            </a>

            <a class="fancy-img" href="./img/thank6-big.jpg">
                @@include('../../els/img.html', { "src": "thank6", "ext": "jpg", "cx":"review__thank" })
            </a>
            <a class="fancy-img" href="./img/thank7-big.jpg">
                @@include('../../els/img.html', { "src": "thank7", "ext": "jpg", "cx":"review__thank" })
            </a>

            <a class="fancy-img" href="./img/thank8-big.jpg">
                @@include('../../els/img.html', { "src": "thank8", "ext": "jpg", "cx":"review__thank" })
            </a>
            <a class="fancy-img" href="./img/thank9-big.jpg">
                @@include('../../els/img.html', { "src": "thank9", "ext": "jpg", "cx":"review__thank" })
            </a>

        </div>
    </div>
</div>