<div class="faq">
    <div class="container">
        <div class="animatedParent">
            <h1 class="faq__title animated fadeInDownShort">Часто задаваемые вопросы</h1>
        </div>
        <div class="faq__list">
            <div class="faq__list-el animatedParent">
                <div class="faq__list-el-wrap animated fadeInLeftShort">
                    <div class="faq__list-el-title">Вы агентство праздников?</div>
                    <div class="faq__list-el-text">Мы организуем деловые и праздничные мероприятия. Соединение этих двух
                        направлений позволяет нам решать деловые задачи, украшая мероприятия необычными творческими
                        моментами.</div>
                </div>
            </div>
            <div class="faq__list-el animatedParent">
                <div class="faq__list-el-wrap animated fadeInRightShort">
                    <div class="faq__list-el-title">Когда начать подготовку к мероприятию?</div>
                    <div class="faq__list-el-text">Мы советуем это делать как можно раньше. Чем больше времени для
                        подготовки мероприятия, тем эффектнее его можно сделать. Это проверено временем.</div>
                </div>
            </div>
            <div class="faq__list-el animatedParent">
                <div class="faq__list-el-wrap animated fadeInLeftShort">
                    <div class="faq__list-el-title">Вы можете доработать мою идею?</div>
                    <div class="faq__list-el-text">Именно так мы часто и поступаем. Вашу идею мы дополняем творческими
                        моментами, структурируем, согласуем с техническими службами.</div>
                </div>
            </div>
            <div class="faq__list-el animatedParent">
                <div class="faq__list-el-wrap animated fadeInRightShort">
                    <div class="faq__list-el-title">А мы уложимся в бюджет?</div>
                    <div class="faq__list-el-text">Уложимся. Благодаря большому объему работы наши партнеры идут
                        навстречу и
                        мы договариваемся о больших скидках для наших клиентов.</div>
                </div>
            </div>
            <div class="faq__list-el animatedParent">
                <div class="faq__list-el-wrap animated fadeInUpShort">
                    <div class="faq__list-el-title">Нужно ли работать с агентством?</div>
                    <div class="faq__list-el-text">Выбор всегда за вами. Наше дело - предложить профессиональное
                        решение.
                        Так вы сократите время на поиски надежных партнеров, получите разные варианты решений, которые
                        оптимизируют ваш бюджет. Благодаря 20-летнему опыту мы можем предложить вам такой ход
                        мероприятия, о
                        котором вы даже не могли догадываться.</div>
                </div>
            </div>
        </div>
    </div>
</div>