<div class="why_work">
    <div class="container">
        <div class="animatedParent">
            <h1 class="why_work__title animated fadeInDownShort">Почему работают с нами</h1>
        </div>
        <div class="why_work__list">
            <div class="why_work__list-el">
                <div class="why_work__list-el-img">
                    <img src="./img/why_work1.svg" alt>
                </div>
                <div class="why_work__list-el-content animatedParent">
                    <div class="why_work__list-el-title animated fadeInLeftShort">
                        Прозрачная договорённость
                    </div>
                    <div class="why_work__list-el-text animated fadeInLeftShort">
                        Мы не любим пустых разговоров. Поэтому всё максимально полно прописываем в договоре
                    </div>
                </div>
            </div>
            <div class="why_work__list-el">
                <div class="why_work__list-el-img">
                    <img src="./img/why_work2.svg" alt>
                </div>
                <div class="why_work__list-el-content animatedParent">
                    <div class="why_work__list-el-title animated fadeInRightShort">
                        Глубокая проработка
                    </div>
                    <div class="why_work__list-el-text animated fadeInRightShort">
                        У нас не бывает мелочей. Всё важно, даже пуговицы и цвет галстука у ведущего</div>
                </div>
            </div>
            <div class="why_work__list-el">
                <div class="why_work__list-el-img">
                    <img src="./img/why_work3.svg" alt>
                </div>
                <div class="why_work__list-el-content animatedParent">
                    <div class="why_work__list-el-title animated fadeInLeftShort">
                        Оптимизация бюджета
                    </div>
                    <div class="why_work__list-el-text animated fadeInLeftShort">
                        За счёт скидок и договоренностей с партнерами, делаем невозможное в рамках выделенного бюджета
                    </div>
                </div>
            </div>
            <div class="why_work__list-el">
                <div class="why_work__list-el-img">
                    <img src="./img/why_work4.svg" alt>
                </div>
                <div class="why_work__list-el-content animatedParent">
                    <div class="why_work__list-el-title animated fadeInRightShort">
                        Уникальные сценарии
                    </div>
                    <div class="why_work__list-el-text animated fadeInRightShort">
                        Это звучит банально, но наши сценарии по-настоящему отличаются от других</div>
                </div>
            </div>
        </div>
    </div>
</div>