<div class="scripts">
    <div class="container">
        <div class="animatedParent">
            <h1 class="scripts__title animated fadeInDownShort">Уникальные сценарии</h1>
        </div>
        <div class="animatedParent">
            <div class="scripts__text animated fadeInUpShort">Это звучит банально, но наши сценарии по-настоящему
                отличаются от других. Посмотрите
                на некоторые наши идеи в разных мероприятиях и вы убедитесь в этом:</div>
        </div>
        <div class="scripts__list">
            <div class="scripts__list-el">
                <div data-src="./img/scripts1.jpg" class="lazy scripts__list-el-img one"></div>
                <div class="scripts__list-el-content">
                    <div class="scripts__list-el-title">Интерактивная карта</div>
                    <div class="scripts__list-el-text">Возможность с помощью технологии дополненной реальности
                        представить деятельность компании, ее географический размах и особенности. При наведении
                        планшета на карту или макет появляются 3D-модели, визуальные изображения и разнообразная
                        информация. Это позволяет провести такую презентацию инновационно, в увлекательной интерактивной
                        форме с эмоциональным эффектом.</div>
                </div>
            </div>
            <div class="scripts__list-el">
                <div data-src="./img/scripts2.jpg" class="lazy scripts__list-el-img two"></div>
                <div class="scripts__list-el-content">
                    <div class="scripts__list-el-title">Музыкальная видеоинсталляция</div>
                    <div class="scripts__list-el-text">Сочетание виртуозной музыки с уникальными световыми эффектами и
                        специально подготовленным видеоконтентом, органично соединяющимся с музыкой, живущим с ней в
                        едином ритме, настроении и эмоциональном наполнении. Такая эффектная видеоинсталляция украсит
                        программу любого мероприятия, создав заряд позитива и хорошего неастроения.</div>
                </div>
            </div>
            <div class="scripts__list-el">
                <div data-src="./img/scripts3.jpg" class="lazy scripts__list-el-img three"></div>
                <div class="scripts__list-el-content">
                    <div class="scripts__list-el-title">Тематическое мороженное</div>
                    <div class="scripts__list-el-text">Всеми любимое лакомство стало настоящей фишкой делового
                        мероприятия. Уникальные формы и безупречный вкус мороженного позволили проникнуться к теме
                        мероприятия и ощутить командный дух. Свежая и креативная подача десерта стала приятным сюрпризом
                        для всех присутствующих, которые остались в восторге.</div>
                </div>
            </div>
            <div class="scripts__list-el">
                <div data-src="./img/scripts4.jpg" class="lazy scripts__list-el-img four"></div>
                <div class="scripts__list-el-content">
                    <div class="scripts__list-el-title">Робот, рассаживающий гостей</div>
                    <div class="scripts__list-el-text">Участников мероприятия приятно удивит, что вместо обычных стендов
                        со списками рассадки их встретит приветливый робот и по QR-коду или просто по имени-фамилии
                        укажет им, какое место можно занять. Помимо помощи в рассадке робот вступить в учтивую беседу и
                        обсудить тему предстоящего мероприятия.</div>
                </div>
            </div>
            <div class="scripts__list-el">
                <div data-src="./img/scripts5.jpg" class="lazy scripts__list-el-img five"></div>
                <div class="scripts__list-el-content">
                    <div class="scripts__list-el-title">Батут возможностей</div>
                    <div class="scripts__list-el-text">Эффектно работающие на батуте акробаты убедительно
                        проиллюстрируют динамичность компании, ее устремленность в будущее, яркость и нестандартность в
                        выборе решений. «Вперед! В будущее! Возможно все!» – так они заявят о вас своим заряжающим
                        энергией выступлением.</div>
                </div>
            </div>
            <div class="scripts__list-el">
                <div data-src="./img/scripts6.jpg" class="lazy scripts__list-el-img six"></div>
                <div class="scripts__list-el-content">
                    <div class="scripts__list-el-title">Презентация новых духов</div>
                    <div class="scripts__list-el-text">На ассамблее Биоси был презентован новый продукт компании - духи.
                        Новый аромат, который волнует душу, был представлен завораживающим танцем настоящих
                        профессионалов. На презентации объединились два вида искусства, талант и новые технологии.
                        Страстная танцевальная композиция, тематический видеоряд и музыкальное сопровождение смогли
                        подчеркнуть уникальность и элегантность нового продукта, а также создать интерес к его выходу на
                        рынок. Яркое выступление в сочетании с видеоинсталляцией - креативная фишка мероприятия.</div>
                </div>
            </div>
        </div>
    </div>
</div>