<div class="process">
    <div class="container">
        <div class="animatedParent">
            <h1 class="process__title animated fadeInDownShort">Процесс создания мероприятия</h1>
        </div>
        <div class="process__list">
            <div class="process__list-el">
                <div class="process__list-el-img animatedParent">
                    <img class="animated fadeInLeftShort" src="./img/process1.svg" alt>
                </div>
                <div class="process__list-el-content animatedParent">
                    <h3 class="process__list-el-title animated fadeInRightShort">Брифинг задачи </h3>
                    <div class="process__list-el-text animated fadeInRightShort">
                        Мы задаем вам вопросы, которые позволяют максимально точно определить задачи и цели вашего
                        мероприятия, и разработать максимально впечатляющее предложение.
                    </div>
                    <div class="process__list-el-result animated fadeInRightShort">
                        Результат: понимание
                        промежуточных задач и финальной цели мероприятия.
                    </div>
                </div>
                <div class="process__arrow">
                    <img src="./img/process-arrow.svg" alt>
                </div>
            </div>
            <div class="process__list-el">
                <div class="process__list-el-img animatedParent">
                    <img class="animated fadeInRightShort" src="./img/process2.svg" alt>
                </div>
                <div class="process__list-el-content animatedParent">
                    <h3 class="process__list-el-title animated fadeInLeftShort">Встреча, презентация концепции и подбор
                        площадки </h3>
                    <div class="process__list-el-text animated fadeInLeftShort">
                        Встреча ориентирована на уточнение задач, обсуждение предложенных концепций, согласование общего
                        направления и определение подходящих площадок.</div>
                    <div class="process__list-el-result animated fadeInLeftShort">
                        Результат: согласование концепции и площадки.
                    </div>
                </div>
            </div>
            <div class="process__list-el">
                <div class="animatedParent process__list-el-img">
                    <img class="animated fadeInLeftShort" src="./img/process3.svg" alt>
                </div>
                <div class="process__list-el-content animatedParent">
                    <h3 class="process__list-el-title animated fadeInRightShort">Презентация сценария </h3>
                    <div class="process__list-el-text animated fadeInRightShort">
                        Просмотр площадки и букинг. Детальное разработка сценария мероприятия. Разрабатка визуализации
                        мероприятия, полиграфической продукции. Согласование сметы расходов.</div>
                    <div class="process__list-el-result animated fadeInRightShort">
                        Результат: подписание договора. </div>
                </div>
            </div>
            <div class="process__list-el">
                <div class="process__list-el-img animatedParent">
                    <img class="animated fadeInRightShort" src="./img/process4.svg" alt>
                </div>
                <div class="process__list-el-content animatedParent">
                    <h3 class="process__list-el-title animated fadeInLeftShort">Подготовительные работы по мероприятию
                    </h3>
                    <div class="process__list-el-text animated fadeInLeftShort">
                        — Рассылка приглашений<br>
                        — Детализация сценария с написанием тезисов и слов<br>
                        — Запуск в изготовление декоративно-художественного оформления<br>
                        — Подготовка видеоконтента и презентаций<br>
                        — Формирование пакета полиграфической продукции и т.д. <br>
                        — Логистика<br>
                    </div>
                    <div class="process__list-el-result animated fadeInLeftShort">
                        Результат: запуск работы над проектом.
                    </div>
                </div>
            </div>
            <div class="process__list-el">
                <div class="process__list-el-img animatedParent">
                    <img class="animated fadeInLeftShort" src="./img/process5.svg" alt>
                </div>
                <div class="process__list-el-content animatedParent">
                    <h3 class="process__list-el-title animated fadeInRightShort">Реализация мероприятия </h3>
                    <div class="process__list-el-text animated fadeInRightShort">
                        — Подготовка площадки к мероприятию<br>
                        — Завоз и монтаж необходимого оборудования, ДХО на площадку<br>
                        — Технический саундчек, репетиция<br>
                        — Работа с гостями (встреча и проводы, регистрация на мероприятии)<br>
                        — Административный контроль всех процессов во время мероприятия и решение всех вопросов.<br>
                    </div>
                    <div class="process__list-el-result animated fadeInRightShort">
                        Результат: деловое мероприятие высокого уровня.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>