<div class="modal" id="project1">
    <div data-src="./img/project1.jpg" class="lazy modal__bgc-img one"></div>
    <div class="content-scroll">
        <h2 class="modal__main-title">Открытие Мечети в Москве</h2>
        <div class="modal__sign">
            <img src="./img/people-icon.svg" alt>
            <span>10 000 человек</span>
        </div>
        <p>Масштабное событие международного уровня - Церемония открытия нового комплекса Московской Соборной мечети –
            состоялась 23 сентября 2015 года. На мероприятие собрались тысячи мусульман со всей страны, на церемонии
            присутствовали Президент России Владимир Владимирович Путин, Президент Палестины Махмуд Аббас, Президент
            Турции
            Реджеп Эрдоган и другие почетные гости. Церемонию вел народный артист России, ученик и соратник Юрия
            Левитана,
            официальный диктор протокольных мероприятий с участием Президента РФ - Евгений Александрович Хорошевцев.
            Специально для этого дня была создана музыкальная композиция, которую исполнила участница конкурса
            «Голос.Дети»
            Саида Мухаметзянова, а коллектив из Дагестана исполнил праздничный нашид.</p>
    </div>
</div>