<div class="modal" id="project10">
    @@include('../../els/img.html', { "src": "project10", "ext": "jpg", "cx":"modal__bgc-img" })

    <div class="content-scroll">
        <h2 class="modal__main-title">Деловое мероприятие А-клуба</h2>
        <div class="modal__sign">
            <img src="./img/people-icon.svg" alt>
            <span>200 человек</span>
        </div>
        <p>А-клуб (подразделение Альфа-банка для наиболее состоятельных клиентов) провел в Бизнес-центре «Аврора»
            встречу членов клуба. Около 150 человек, посетивших эту встречу, смогли не только получить небольшие
            памятные подарки от клуба, отведать предлагаемое на фуршете необычное тематическое мороженое под такими
            названиями, как «Маяковский», «Мерилин Монро», «Че Гевара», но и неформально пообщаться с другими
            участниками встречи, представляющими крупные бизнес-структуры. Состоялась презентация деятельности самого
            А-клуба. Кроме того, были представлены новые проекты и продукты участников клуба.</p>
    </div>
</div>