<div class="modal" id="project9">
    <div data-src="./img/project9.jpg" class="lazy modal__bgc-img nine"></div>

    <div class="content-scroll">
        <h2 class="modal__main-title">Имиджевое мероприятие школы “Аметист”</h2>
        <div class="modal__sign">
            <img src="./img/people-icon.svg" alt>
            <span>300 человек</span>
        </div>
        <p>В культурном центре TushinoHall прошло имиджевое мероприятие частной школы «Аметист». В деловой части
            программы были представлены возможности школы, ее потенциал. В мероприятии приняли участие нынешние ученики
            школы, учителя и сотрудники, родители, бабушки и дедушки школьников, выпускники предыдущих лет и
            многочисленные гости. Празднику была посвящена концертная программа, в которой приняли участие не только
            учащиеся, но и их педагоги, а также мамы с папами. Были представлены все жанры – и яркие эстрадные
            выступления, и зажигательные хореографические номера, и театр, и даже собственная школьная рок-группа.</p>
    </div>
</div>