<div class="modal" id="project8">
    <div data-src="./img/project8.jpg" class="lazy modal__bgc-img eight"></div>

    <div class="content-scroll">
        <h2 class="modal__main-title">Конгресс компании “Биоси”</h2>
        <div class="modal__sign">
            <img src="./img/people-icon.svg" alt>
            <span>500 человек</span>
        </div>
        <p>В Концертном зале «Измайлово» состоялся конгресс компании BIOSEA под названием «BIOSEA – Je t'aimе».
            Многочисленные гости конгресса – дистрибьюторы компании из самых разных уголков России, руководство BIOSEA,
            французские гости-парфюмеры – в этот день перенеслись из осенней Москвы на улочки цветущего весеннего
            Парижа. Именно там, прямо у стен старинных парижских домов, состоялось награждение лучших дистрибьюторов. А
            помимо церемонии награждения и выступлений руководства в программу Конгресса вошли: эффектные лазерное и
            световое шоу, полные шарма французские танцы, зажигательное фламенко и в финале дня выступление Дмитрия
            Колдуна.</p>
    </div>
</div>