<div class="modal" id="project4">
    <div data-src="./img/project4.jpg" class="lazy modal__bgc-img four"></div>

    <div class="content-scroll">
        <h2 class="modal__main-title">Бизнес-завтрак компании “Freetopay”</h2>
        <div class="modal__sign">
            <img src="./img/people-icon.svg" alt>
            <span>100 человек</span>
        </div>
        <p>Компания ВКонтакте и Freetopay провели бизнес-завтрак. Сто специалистов собрались утром в здании Mail.ru,
            чтобы обсудить вопросы решения бизнес-задач при помощи основных инструментов интернет-маркетинга..</p>
    </div>
</div>