<div class="modal" id="project2">
    <div data-src="./img/project2.jpg" class="lazy modal__bgc-img two"></div>

    <div class="content-scroll">
        <h2 class="modal__main-title">Ассамблея компании Биоси</h2>
        <div class="modal__sign">
            <img src="./img/people-icon.svg" alt>
            <span>500 человек</span>
        </div>
        <p>15 сентября 2018 года в Концертном зале «Измайлово» состоялась юбилейная Ассамблея компании BIOSEA – эта
            французская компания 5 лет работает на российском рынке. Праздничная юбилейная программа носила название
            «BIOSEA – UN GRAND MERCI», «BIOSEA – БОЛЬШОЕ СПАСИБО». Большое спасибо в этот день прозвучало в адрес самой
            компании, ее руководства и, конечно, дистрибьюторов BIOSEA, прибывших на Ассамблею из самых разных регионов
            России, Беларуси и Казахстана. Помимо церемонии награждения лучших дистрибьюторов, гости Ассамблеи увидели
            зажигательное барабанное шоу «Glowbeat», удивительные чудеса в исполнении иллюзионистов Надежды и Никиты
            Спасских, услышали российского Паганини – блистательного скрипача-виртуоза Степана Мезенцева, и даже
            побывали на необыкновенном фестивале французского кино – веселом кинокапустнике, в котором герои Луи де
            Фюнеса, Пьера Ришара, Жерара Депардье и Катрин Денёв предстали в роли успешных дистрибьюторов компании
            BIOSEA. А в самом финале праздничной программы прошла необычная лотерея: прямо на сцене концертного зала из
            пяти шляп-канотье руководители компании достали номера билетов пяти счастливчиков, выигравших путевку в
            Париж на двоих!</p>
    </div>
</div>