<div class="modal" id="project3">
    <div data-src="./img/project3.jpg" class="lazy modal__bgc-img three"></div>

    <div class="content-scroll">
        <h2 class="modal__main-title">Имиджевое мероприятие компании “Спецсвязь”</h2>
        <div class="modal__sign">
            <img src="./img/people-icon.svg" alt>
            <span>2 000 человек</span>
        </div>
        <p>Имиджевое мероприятие, посвященное юбилею Спецсвязи России, прошел в современном концертном зале Крокус Сити
            Холл, в котором удобно разместились две тысячи гостей. В концерте все было подчинено главной идее –
            Спецсвязи 75 лет и она движется вперед, по дороге в будущее! Гости побывали в прошлом, почувствовали пульс
            настоящего и даже перенеслись в будущее. В концерте были моменты торжественные, трогательные, ироничные,
            фантастические. Состоялось включение из открытого космоса - сотрудников спецсвязи поздравили космонавты с
            околоземной орбиты. Главное, мы добились всеобщего единения: в финале весь зал дружно исполнял гимн
            Спецсвязи, написанный специально для этого события.</p>
    </div>
</div>