<div class="modal" id="project7">
    <div data-src="./img/project7.jpg" class="lazy modal__bgc-img seven"></div>

    <div class="content-scroll">
        <h2 class="modal__main-title">Партнерское мероприятие компании “Спецсвязь”</h2>
        <div class="modal__sign">
            <img src="./img/people-icon.svg" alt>
            <span>350 человек</span>
        </div>
        <p>350 партнеров Спецсвязи России были приглашены на торжество в честь юбилея предприятия. Нам удалось удивить
            гостей впечатляющим футуристическим антуражем и порадовать теплой атмосферой. Вместе мы перенеслись в
            будущее Спецсвязи. Высококлассные артисты, качественная экранная графика, продуманные тексты, дизайнерские
            костюмы, технологические новинки и настоящие роботы действительно перенесли гостей в будущее. Мероприятие
            завершилось поздравлением космонавтов с околоземной орбиты и межгалактическим путешествием.</p>
    </div>
</div>