<div class="team">
    <div class="container">
        <div class="animatedParent">
            <h1 class="team__title animated fadeInDownShort">Команда</h1>
        </div>
        <div class="team__list">
            <div class="team__list-el">
                @@include('../../els/img.html', { "src": "member1", "ext": "jpg", "cx":"team__list-el-img" })

                <div class="team__list-el-name">
                    Валиева Лилия
                </div>
                <div class="team__list-el-position">
                    генеральный директор
                </div>
            </div>

            <div class="team__list-el">
                @@include('../../els/img.html', { "src": "member2", "ext": "jpg", "cx":"team__list-el-img" })

                <div class="team__list-el-name">
                    Анна Щукина
                </div>
                <div class="team__list-el-position">
                    копирайтер
                </div>
            </div>

            <div class="team__list-el">
                @@include('../../els/img.html', { "src": "member3", "ext": "jpg", "cx":"team__list-el-img" })

                <div class="team__list-el-name">
                    Андрей Исаков
                </div>
                <div class="team__list-el-position">
                    декоратор
                </div>
            </div>
            <div class="team__list-el">
                @@include('../../els/img.html', { "src": "member4", "ext": "jpg", "cx":"team__list-el-img" })

                <div class="team__list-el-name">
                    Валиев Альберт
                </div>
                <div class="team__list-el-position">
                    руководитель&nbsp;<br>IT отдела
                </div>
            </div>
            <div class="team__list-el">
                @@include('../../els/img.html', { "src": "member5", "ext": "jpg", "cx":"team__list-el-img" })

                <div class="team__list-el-name">
                    Диана&nbsp;<br>Краснова
                </div>
                <div class="team__list-el-position">
                    менеджер
                </div>
            </div>
            <div class="team__list-el">
                @@include('../../els/img.html', { "src": "member6", "ext": "jpg", "cx":"team__list-el-img" })

                <div class="team__list-el-name">
                    Ильнара Нигматуллина
                </div>
                <div class="team__list-el-position">
                    менеджер
                </div>
            </div>
            <div class="team__list-el">
                @@include('../../els/img.html', { "src": "member7", "ext": "jpg", "cx":"team__list-el-img" })

                <div class="team__list-el-name">
                    Гузель Арсланова
                </div>
                <div class="team__list-el-position">
                    менеджер
                </div>
            </div>
            <div class="team__list-el">
                @@include('../../els/img.html', { "src": "member8", "ext": "jpg", "cx":"team__list-el-img" })

                <div class="team__list-el-name">
                    Злата Демиденко
                </div>
                <div class="team__list-el-position">
                    менеджер
                </div>
            </div>
        </div>
    </div>
</div>