.team{
    padding: 77px 0 0;
    &__title{
        font-family: Roboto;
        font-style: italic;
        font-weight: bold;
        font-size: 44px;
        line-height: 52px;
        text-align: center;
        color: rgba(37, 41, 181, 0.95);
    }
}