<div class="about">
    @@include('../../els/img.html', { "src": "about", "ext": "jpg", "cx":"about__bgc" })
    <div class="container">
        <div class="about__content">
            <img class="about__play" src="./img/about-play.svg" alt>
            <h1 class="about__title">О нас</h1>
            <div class="about__text">Нас нельзя назвать серийным агентством. Мы работаем точечно и выборочно, но при
                этом не стандратно и масштабно в рамках проекта<br>Наша задача — не просто подарить эмоции вам и вашим
                клиентам. Наша задача - сделать мероприятие, которое даст энергию, видение и сам рост продаж.
            </div>
            <div class="about__desc">
                <div class="about__desc-el">
                    <div class="about__desc-el-icon">
                        <img src="./img/mission-icon.svg" alt>
                    </div>
                    <div class="about__desc-el-content">
                        <div class="about__desc-el-title">
                            Миссия
                        </div>
                        <div class="about__desc-el-text">
                            Вдохновляем на яркие, креативные, cовременные решения. Сделаем все, чтобы ваше мероприятие
                            стало
                            Событием!
                        </div>
                    </div>
                </div>
                <div class="about__desc-el">
                    <div class="about__desc-el-icon">
                        <img src="./img/numbers-icon.svg" alt>
                    </div>
                    <div class="about__desc-el-content">
                        <div class="about__desc-el-title">
                            Цифры
                        </div>
                        <div class="about__desc-el-text">
                            Работаем 20 лет в сфере мероприятий. Cамое крупное мероприятие для 10 000 человек
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>