.header {  
    position: relative; 
    color: #FFFFFF;
    padding-left: 20px ;
    overflow: hidden;
    &__bgc{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 1;
        background-color: #2529B5;
    }
    &__container{
        margin-right: 100px;
        padding: 30px 40px 108px 0;
        max-width: 796px;
        background:
            linear-gradient(to top left,transparent 50%,#2529B5 51%) right/18.1% 100% no-repeat,
            linear-gradient(#2529B5,#2529B5) left/82% 100% no-repeat;
    }
    .container {
        position: relative;
        z-index: 2;
        max-width: 1090px;
    }
    &__main-img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 0;
    }
    &__main-title{
        font-style: italic;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        margin-right: 20px;
    }
    &__title{
        margin: 14px 30px 9px 0;
        font-size: 21px;
        line-height: 31px;
        font-weight: normal;
        br{
            display: none;
        }
    }
    &__cap {  
        display: flex;    
        justify-content: space-between;
        align-items: center;
        margin-bottom: 61px;
        &-contacts {
            display: flex;
            justify-content: space-between;
            a + a {
                margin-left: 20px;
            }
            a{
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    &__list{
        flex-wrap: wrap;
        margin-right: 50px;
        display: flex;
        align-items: center;
        &-el{
            margin-top: 32px;
            &:nth-child(2){
                margin: 32px 43px 0 26px;
                img{
                    margin-bottom: 4px;
                }
                .header__list-el-text{
                    width: 187px;
                }
            }
            &:nth-child(3){        
                img{
                    margin: -12px 0 -12px -14px;
                }
                .header__list-el-text{
                    width: 206px;
                }
            }
            &-title{
                font-size: 18px;
                line-height: 24px; 
                margin: 6px 0 4px;
            }
            &-text{  
                width: 231px;              
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    &__form{
        margin-top: 59px;
        &-title{
            font-weight: 300;
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 11px;
        }
        &-inputs {
            display: flex;
            align-items: flex-end;
            input, button {
                border-bottom: 6px solid #fff;
                height: 53px;
            }
            input:first-child{
                margin-right: -2px;
                padding-left: 5px;
                background: url("./img/input-line.svg");
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: calc(100% - 14px);
            }
            input:nth-child(2){
                margin-right: -2px;
            }
        }
    }
}

@media (max-width: 900px) {
    .header {  
        &__title {
            br{
                display: block;
            }
        }
        &__main-img {
            right: -740px;
        }
        &__container{
            background:
                linear-gradient(to top left,transparent 50%,#2529B5 51%) right/28.1% 100% no-repeat,
                linear-gradient(#2529B5,#2529B5) left/72% 100% no-repeat;
        }
        &__list{            
            &-el{
                margin-bottom: 32px;
                &:nth-child(2){
                    margin-top: 0;
                }
                &:last-child{
                    margin: 0;
                }
            }
        }
        &__form{
            margin-top: 46px;
        }
    }
}
@media (max-width: 700px) {
    .header {  
        padding-left: 0;
        &__bgc{
            display: none;
        }
        &__container{
            padding: 23px 15px 95px 0;
            margin-right: 0;
            margin-bottom: 226px;
            background:
                linear-gradient(to top left,transparent 50%,#2529B5 51%) bottom/100% 69px no-repeat,
                linear-gradient(#2529B5,#2529B5) top/100% calc(100% - 69px) no-repeat;
        }
        &__main-img {
            right: unset;
            left: 0;
            height: auto;
            width: 100%;
            top: unset;
            bottom: 0;
            z-index: 0;
        }
        &__main-title{
            margin-left: 15px;
            font-size: 44px;
            line-height: 52px;
        }
        &__title{
            margin-left: 15px;
            font-size: 21px;
            line-height: 31px;
            br{
                display: none; 
            }
        }
        &__cap {  
            margin-bottom: 29px;
            img{
                margin-left: 15px;
                width: 125px;
            }
            &-contacts {
                font-size: 16px;
                line-height: 26px;
                flex-wrap: wrap;
                max-width: 128px;
                a{
                    width: 100%;
                }
                a + a {
                    margin-left: 0;
                }
            }
        }
        &__list{
            margin-right: 0;
            &-el{
                margin-left: 15px;
                margin-bottom: 0;
                &:nth-child(2){ 
                    margin-top: 32px; 
                    margin-right: 0;
                }
                &:nth-child(3){  
                    margin-top: 32px;    
                    margin-left: 15px;               
                }    
            }
        }
        &__form{
            margin-top: 56px;
            &-title{    
                margin-left: 15px;  
            }
            &-inputs {
                flex-wrap: wrap;
                input {
                    width: calc(50% - 8px);
                }
                input:first-child{
                    margin-left: 15px;                    
                }
                button{
                    margin-left: 15px;
                    width: 1000%;
                    border: 0;
                    margin-top: 16px;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .header {         
        &__main-img {
            right: unset;
            left: 0;
            height: 295px;
            width: auto;
            top: unset;
            bottom: 0;
            z-index: 0;
        }
    }
}
@media (max-width: 480px) {
    .header {         
        &__list{
            &-el{
                width: 100%;
                margin-bottom: 0;
                &:nth-child(2){
                    margin-left: 15px;      
                }
            }
        }
    }
}

@media (max-width: 340px) {
    .header {         
        &__main-img {
            left: -110px;
        }
    }
}