<header class="header">
    @@include('../../els/pic.html', { "src": "restaurant", "ext": "jpg", "cx":"header__main-img" })
    <div class="header__bgc"></div>
    <div class="container">
        <div class="header__container">
            <div class="header__cap">
                <img class="animated bounceInLeft" src="./img/viel-logo.svg" alt>
                <div class="header__cap-contacts animated bounceInRight">
                    <a href="tel:84959891098">8 (495) 989 10 98</a>
                    <a href="mailto:info@viel.group">info@viel.group</a>
                </div>
            </div>

            <h1 class="header__main-title animated bounceInLeft"> Деловые мероприятия </h1>
            <h2 class="header__title animated bounceInRight">Презентации, конференции, семинары и форумы.&nbsp;<br>Уже
                20 лет.</h2>
            <div class="header__list">
                <div class="header__list-el">
                    <img src="./img/key.svg" alt>
                    <div class="header__list-el-title">
                        Под ключ
                    </div>
                    <div class="header__list-el-text">
                        Так исключены все сбои в процессе. За всё отвечаем мы.
                    </div>
                </div>
                <div class="header__list-el">
                    <img src="./img/bulb.svg" alt>
                    <div class="header__list-el-title">
                        Креативный подход
                    </div>
                    <div class="header__list-el-text">
                        Удивляем не только вас, но и порой даже себя
                    </div>
                </div>
                <div class="header__list-el">
                    <img src="./img/lines.svg" alt>
                    <div class="header__list-el-title">
                        Измеримый результат
                    </div>
                    <div class="header__list-el-text">
                        Мы приносим деньги, хоть и кажется иначе
                    </div>
                </div>
            </div>
            @@include('../../els/form-action.html', { "cx":"header__form" })
            <input name="form-type" type="hidden" value="Заказ звонка: (header)">

            <div class="header__form-title">Обсудим задачу по телефону:</div>
            <div class="header__form-inputs">
                @@include('../../els/main-inputs.html')

                <button class="btn">Перезвоните мне</button>
            </div>
            </form>
        </div>
    </div>
</header>