<div class="partners">
    <div class="container">
        <div class="partners__title">Наши партнеры</div>
        <div class="partners__list">
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner1", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner2", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner3", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner4", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner5", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner6", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner7", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner8", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner9", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner10", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    @@include('../../els/img.html', { "src": "partner11", "ext": "jpg", "cx":"partners__list-el-img" })
                </div>
            </div>
        </div>
    </div>
</div>