<div class="partners">
    <div class="container">
        <div class="animatedParent">
            <div class="partners__title animated fadeInDownShort">Наши партнеры</div>
        </div>
        <div class="partners__list">
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner1.jpg" alt>
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner2.jpg" alt>
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner3.jpg" alt>
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner4.jpg" alt>
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner5.jpg" alt>
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner6.jpg" alt>
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner7.jpg" alt>
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner8.jpg" alt>
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner9.jpg" alt>
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner10.jpg" alt>
                </div>
            </div>
            <div class="partners__list-el">
                <div class="partners__list-el-wrap">
                    <img class="partners__list-el-img" src="./img/partner11.jpg" alt>
                </div>
            </div>
        </div>
    </div>
</div>