<!-- <footer id="contacts" class="main-footer">
    <div class="container">

    </div>
</footer> -->

<!-- jquery  -->
<script src="./static/libs/jquery-3.4.1.min.js"></script>

<!-- other  -->
<script src="./static/libs/jquery.smoothscroll.min.js"></script>
<script src="./static/libs/slick/slick.min.js"></script>
<script src="./static/libs/jquery.lazy.min.js"></script>

<!-- fancy  -->
<script src="./static/libs/fancybox/jquery.fancybox.min.js"></script>

<!-- animate  -->
<script src="./static/libs/css3-animate-it.js"></script>

<!-- main -->
<script src="./script.js"></script>
</body>

</html>