<div class="tech">
    <div class="container">
        <div class="animatedParent">
            <h1 class="tech__title animated fadeInDownShort">Современные технологии деловых мероприятий</h1>
        </div>
    </div>
    <div class="tech__list-container">
        <div class="tech__list">
            <div class="tech__list-el one">
                <figure>
                    <img data-lazy="./img/tech1.jpg" class="tech__list-el-img one" alt>
                </figure>
                <div class="tech__list-el-sign">
                    <div class="tech__list-el-sign-text">Экранное, световое, звуковое оформление на волне
                        последних
                        технологий</div>
                </div>
            </div>
            <div class="tech__list-el">
                <figure>
                    <img data-lazy="./img/tech2.jpg" class="tech__list-el-img two" alt>
                </figure>
                <div class="tech__list-el-sign">
                    <div class="tech__list-el-sign-text">Использования нестандартных решений для создания площадок</div>
                </div>
            </div>
            <div class="tech__list-el">
                <figure>
                    <img data-lazy="./img/tech3.jpg" class="tech__list-el-img three" alt>
                </figure>
                <div class="tech__list-el-sign">
                    <div class="tech__list-el-sign-text">Разработка концепции и составления сценария дипломированным
                        специалистом</div>
                </div>
            </div>
            <div class="tech__list-el">
                <figure>
                    <img data-lazy="./img/tech4.jpg" class="tech__list-el-img four" alt>
                </figure>
                <div class="tech__list-el-sign">
                    <div class="tech__list-el-sign-text">Придумываем, ищем технологии, которые сделают ваше мероприятие
                        успешным и запоминающимся</div>
                </div>
            </div>
        </div>
    </div>
</div>