// @import 'node_modules/bootstrap/scss/bootstrap-reboot';

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 1015px;
    margin: 0 auto;
}

button {
    border: 0;
    &:focus {
        outline: 0;
    }
}
input{
    background-color: transparent;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    padding: 17px 0;
    color: #ffffff;
    border: 0;
    outline: 0;
    &::placeholder { 
        color: #ffffff;
    }
}
.btn {
    background: #FF6819;
    padding: 0 30px;
    color: #FFFFFF;   
    font-size: 16px;
    line-height: 21px; 
    height: 53px;
    display: flex;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    font-weight: bold;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}  
.center {
    display: block;
    margin: 0 auto;
}


@media (min-width: 4000px) {
    .left-container {
        max-width: 50%;
    }
}
@media (max-width: 719px) {

}
