<div class="contacts">
    <div class="container">
        <div class="animatedParent">
            <h1 class="contacts__title animated fadeInDownShort">Контакты</h1>
            <div class="contacts__text animated fadeInUpShort">Если у Вас есть вопросы — это хорошо. Задайте их нам и мы
                проконсультируем о деталях
                и подберём лучшее решение под ваш бюджет.</div>
        </div>
        <div class="contacts__contacts animatedParent">
            <a class="animated fadeInLeftShort" href="tel:84959891098">8 (495) 989 10 98</a>
            <a class="animated fadeInRightShort" href="mailto:info@viel.group">info@viel.group</a>
        </div>
    </div>
</div>